<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GIS 地图demo</title>
    <meta content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta tabindex="">

    <link rel="stylesheet" href="/gis/css/style.css">

    <script type="text/javascript" src="http://2.34.38.203:25002/jsmap/1.0/demo/scripts/jsurl.js"></script>
    <script type="text/javascript" src="http://2.34.38.203:25001/as/webapi/js/auth?v=1.0&t=jsmap&ak=ec85d3648154874552835438ac6a02b2"></script>

</head>
<body  style="margin:0px;padding:0px">
<div id="demoMap" style="width: 100%;height: 100%"></div>

<script>
    var map,marker;
    function initMap(){
        map = new IMAP.Map("demoMap",{
            maxZoom:22,
            minZoom:3,
            zoom:16,
            center:new IMAP.LngLat(120.7659137249,31.6404941298)
        })
    }
    function toggleAddMarker() {
        if(map){
            toggleRemoveMarker();
            var opts=new IMAP.MarkerOptions();
            opts.anchor = IMAP.Constants.BOTTOM_CENTER;
            opts.icon=new IMAP.Icon(IMAP.MapConfig.API_REALM_NAME+"images/point_1.png",{"size":new IMAP.Size(35, 30),"offset":new IMAP.Pixel(1, 0)});

            var lnglat=new IMAP.LngLat(120.7659137249,31.6404941298);
            if(lnglat){
                marker=new IMAP.Marker(lnglat, opts);
                map.getOverlayLayer().addOverlay(marker, true);
            }
        }
    }
    //删除点标注
    function toggleRemoveMarker(){
        if (!marker) {return;}
        map.getOverlayLayer().removeOverlay(marker);
        marker = null;
    }
    initMap();
    addRoadNetLayer();
    toggleAddMarker();
</script>
</body>

</html>











<script type="text/javascript">

</script>
