<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="/bootstrap-4.0.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/DataTables-1.10.15/media/css/jquery.dataTables.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="/DataTables-1.10.15/media/js/jquery.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>


    <script type="text/javascript" charset="utf8" src="/bootstrap-4.0.0/js/bootstrap.js"></script>

    <script type="text/javascript" charset="utf8" src="/js/bootstrap-suggest.min.js"></script>


    <script type="text/javascript" charset="utf8" src="/bootbox/bootbox.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/bootbox/bootbox.locales.min.js"></script>

</head>
<body>
    <h1>this is thymeleaf</h1>

    <table id="demoTab">
        <thead>
            <tr>
                <th>col1</th>
                <th>col2</th>
            </tr>
        </thead>
<!--        <tbody>-->
<!--            <tr>-->
<!--                <td>1-1</td>-->
<!--                <td>1-2</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>2-1</td>-->
<!--                <td>2-2</td>-->
<!--            </tr>-->
<!--        </tbody>-->
    </table>
<script>
    $(document).ready(function(){

        // var data = [];
        // data.push(['1-1','1-2']);
        // data.push(['2-1','2-2']);
        // $("#demoTab").DataTable({
        //     data:data
        // });
        var data = [{"col1":"1-1","col2":"1-2"},{"col1":"2-1","col2":"2-2"}];
        $("#demoTab").DataTable({
            data:data,
            columns:[
                {"data":"col1"},
                {"data":"col2"}
            ]

        })
    })
</script>
</body>
</html>