<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="/bootstrap-4.0.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/DataTables-1.10.15/media/css/jquery.dataTables.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="/DataTables-1.10.15/media/js/jquery.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>


    <script type="text/javascript" charset="utf8" src="/bootstrap-4.0.0/js/bootstrap.js"></script>

    <script type="text/javascript" charset="utf8" src="/js/bootstrap-suggest.min.js"></script>


    <script type="text/javascript" charset="utf8" src="/bootbox/bootbox.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/bootbox/bootbox.locales.min.js"></script>

</head>
<body>
    <h1>this is thymeleaf</h1>

</body>
</html>